<h1><%= t('pollster.views.edit.title') %></h1>

<%= render 'form' %>

<%= link_to t('general.actions.show'), admin_pollsters_path(@pollster) %> |
<%= link_to t('general.actions.back'), admin_pollsters_path %>
