<div id="footerback">
  <div id="footer">
    <%= render 'layouts/shared/low_menu' %>
    <div class="clear"></div>
    <p class="legal">Quantus © 2012 |<a href="#"> Política de Privacidad</a> | <a href="#">Propiedad Intelectual</a></p>
    <div id="social">
      <p>Síguenos:</p>
      <ul>
        <li><a class="twitter" href="#">Twitter</a></li>
        <li><a class="facebook" href="#">Facebook</a></li>
      </ul>
    </div>
  </div>
</div>