<div>
	<h2>Empleo</h2>
	
	<p>
		¿Quieres ser parte de la historia en el desarrollo de soluciones 
		y aplicaciones tecnológicas móviles para la mercadotecnia?
	</p>
	
	<div class="box1 jobs-board">
		<p>Estamos buscando a programadores que les guste estar actualizados con las últimas tecnologías, que se sientan cómodos trabajando en entornos Unix, que programen en al menos tres lenguajes de programación de manera fluída o que al menos tengan la aspiración de hacerlo pronto.</p>
		
		<h3>Programador Web</h3>
		<ul>
			<li>Experiencia en lenguajes de <i>scripting</i> como Python o Ruby. Se dará preferencia a quien tenga experiencia en el último</li>
			<li>Experiencia desarrollando aplicaciones web en cualquier lenguaje. </li>
			<li>Conocimiento sobre patrones de software. Pleno entendimiento de MVC es un gran <i>plus</i></li>
			<li>Javascript con jQuery. Experiencia escribiendo aplicaciones en Javascript usando herramientas como <b>Backbone</b> un <i>plus</i></li>
			<li>Conocimiento de Servicios Web y REST</li>
			<li>Desarrollo guiado por pruebas</li>
		</ul>
		<h3>Programador de Aplicaciones Móviles (iOS)</h3>
		<ul>
			<li>Experiencia en lenguajes compilados como Java o C++</li>
			<li>Haber escrito una aplicación móvil nativa para iOS de manera programática (sin usar Interface Builder)</li>
			<li>Manejo de xcode.</li>
			<li>No es necesario ser diseñador, pero definitivamente, un buen ojo para el diseño se tomará muy en cuenta</li>
			<li>Haber programado una aplicación interactiva para iPad previamente es un gran <i>plus</i></li>
		</ul>
	</div>
</div>

<p>
	Envíanos un correo a la siguiente dirección: <b>mensajes@quantus-activ.com</b>
</p>