<div>
	<h1>Contacto</h1>
	<p>Puedes ponerte en contacto con nosotros mediante: </p>
	
	<div class="box1">
		<h3>Oficinas</h3>
		
		<p>Vito Alessio Robles #525, Col. Altavista</p>
		<p>México D.F.</p>
		<p>Tel. (+52 55) 5207 0826</p>
	</div>
	<br/>
	<div class="box1">
		<h3>Mensajería General</h3>
		
		<p>mensajes@quantus-activ.com</p>
	</div>
	<br/>
	<div class="box1">
		<h3>Ventas</h3>
		
		<p>ventas@quantus-activ.com</p>
	</div>
	<br/>
	<div class="box1">
		<h3>Soporte</h3>
		
		<p>soporte@quantus-activ.com</p>
	</div>
	<br/>
	<div class="box1">
		<h3>Atención a clientes</h3>
		
		<p>clientes@quantus-activ.com</p>
	</div>
</div>