<div>
	<h1>Identidad</h1>
  
  <p>Quantus surge a partir de un proyecto universitario en el 2010, creado para facilitar el proceso de levantamiento y recolección de información 
	en la Investigación de Mercados. </p>
	<p>Este proyecto, hoy conformado como empresa, contó con el apoyo de la Coordinación de Innovación y Desarrollo (CID) de la Universidad Nacional Autónoma de México (UNAM).
	Quantus es nuestro primer desarrollo tecnológico móvil para el área de Investigación de Mercados y estamos trabajando en otras soluciones para optimizar tus tareas relacionadas con la Mercadotecnia. 
	</p>
	
	<h1>Visión</h1>
	
	<p>Ser una entidad de vanguardia tecnológica con soluciones y aplicaciones mercadológicas. </p>
	
	<h1>Misión</h1>
	
	<p>La misión de la organización es coadyuvar al logro de las metas corporativas o institucionales de las entidades a las cuales se prestan los servicios, al tiempo que se construyen y fortalecen los objetivos propios.</p>
	
	<h1>Valores</h1>
	
	<p>Los valores sobre los cuales se fundamenta nuestro actuar son:</p>
	
	<ul class="list-of-items">
		<li>Alta tolerancia a la presión</li>
		<li>Trabajo en equipo</li>
		<li>Visualización creativa</li>
		<li>Actitud propositiva</li>
		<li>Liderazgo</li>
		<li>Resultado eficiente y eficaz</li>
		<li>Honestidad y transparencia</li>
	</ul>
</div>