<div class="box1 producto">
	<%= image_tag('logo_active.png') %>
	<br/><br/>
	<p>Es una encuesta altamente interactiva e intuitiva, a través de la cual podrás levantar y recolectar información del mercado de una forma confiable y dinámica.</p>
	<p>Quantus <i>activ</i> opera en tabletas electrónicas de última generación. Actualmente solo en iPad</p>
	<br/>
	<%= link_to 'Conocer más', contact_welcome_index_path, :class => "boton4" %>
</div>

<div class="box1 producto">
	<%= image_tag('logo_flat.png') %>
	<br/><br/>
	
	<p class="proximamente">Próximamente</p>
</div>

<%= content_for :banner do %>
<div id="banner"></div>
<% end %>