<div>
	<h1>Servicios</h1>
	
	<p>Quantus <i>activ</i>, nombre de la nueva herramienta tecnológica (solución personalizada
	y aplicación estandarizada a la vez), consiste en la aplicación de encuestas interactivas móviles para el levantamiento de información y la recolección de datos en investigaciones de mercado, a través de dispositivos móviles (tabletas o celulares), cuyas características intuitivas y tecnológicas facilitan dicha tarea.  
	</p>
	
	<p>Con esta herramienta tecnológica es posible contar con encuestas dinámicas, interactivas y sensibles al tacto con soporte multimedia para el encuestado (vídeo, voz, 3D, imagen, texto, etc.), reduciendo significativamente los tiempos de aplicación de los instrumentos de medición (encuestas), la disminución de distractores para los encuestados y la compilación, almacenamiento, análisis y difusión de los datos es más precisa y sencilla, misma que es enviadas de forma inmediata vía internet. 
	</p>
	
	<p>Quantus <i>activ</i> ofrece a las agencias de Investigación de Mercado, así como a los clientes directos, más y mejores posibilidades para sus investigaciones de mercado, desde la integración multimedia hasta el óptimo manejo de datos, todo a través de dispositivos móviles.  
	</p>
	
	
	<p>Quantus <i>activ</i> como herramienta tecnológica está conceptualizada para operar bajo dos plataformas móviles:</p>
	
	<ol class="list-of-items">
		<li>iOS  (iPad y iPhone de la empresa Apple)</li>
		<li>Android (tabletas y celulares con éste sistema operativo de la empresa Google)</li>
		
	</ol> 
	<% if !true %>
	<h3>Prestación del servicio</h3>
	
	<p>La prestación del servicio está concebida bajo dos modalidades:</p>
	<% end %>
</div>