@charset "utf-8";
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
body {
	background-image: url(../assets/body_bgr.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	color: #333333;
}
#headerback {
	background-image: url(../assets/headerback_bgr.png);
	background-repeat: repeat-x;
	background-position: top;
	position: relative;
}
#header {
	background-image: url(../assets/header_bgr.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 108px;
	width: 1050px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header h1 {
	margin: 0px;
	padding: 0px;
}
#header h1 a.logo {
	background-image: url(../assets/logo.png);
	background-repeat: no-repeat;
	text-indent: -10000em;
	display: block;
	float: left;
	height: 80px;
	width: 226px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
}
#nav {
	float: right;
}
#nav ul {
	padding: 0px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#nav ul li {
	float: left;
	list-style-type: none;
}
#nav li a:link,
#nav li a:visited {
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #333333;
	text-decoration: none;
	display: block;
	height: 13px;
	display: block;
	padding-top: 37px;
	padding-bottom: 43px;
	font-size: 14px;
	padding-right: 11px;
	padding-left: 11px;
}
#nav li a:hover,
#nav li a:active {
	text-shadow: 0px 1px 0px #333333;
	filter: dropshadow(color=#333333, offx=0, offy=1);
	background-color: #850d11;
	background-image: linear-gradient(bottom, rgb(133,13,17) 34%, rgb(193,39,44) 67%);
	background-image: -o-linear-gradient(bottom, rgb(133,13,17) 34%, rgb(193,39,44) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(133,13,17) 34%, rgb(193,39,44) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(133,13,17) 34%, rgb(193,39,44) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(133,13,17) 34%, rgb(193,39,44) 67%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.34, rgb(133,13,17)), color-stop(0.67, rgb(193,39,44)) );
	color: #FFFFFF !important;
}

#nav li a.selected {
	color: #A00709;
}

#lownav li a.selected {
	color: #A00709 !important;
}

#banner {
	background-image: url(../assets/banner.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 301px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
#contentback {
	background-color: #FFFFFF;
	position: relative;
	background-image: url(../assets/content_bgr.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	padding-bottom: 150px;
	z-index: 5;
}
#content {
	padding: 20px;
	width: 920px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#footerback {
	background-image: url(../assets/footerback_bgr.png);
	background-repeat: repeat-x;
	background-position: bottom;
	position: relative;
	z-index: 10;
	margin-top: -109px;
}
#footer {
	background-image: url(../assets/footer_bgr.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 109px;
	width: 1050px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#lownav {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 750px;
	padding-top: 40px;
}
#lownav ul {
	padding: 0px;
	margin: 0px;
}
#lownav ul li {
	float: left;
	list-style-type: none;
}
#lownav li a:link,
#lownav li a:visited {
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #333333;
	text-decoration: none;
	display: block;
	font-size: 14px;
	padding-right: 11px;
	padding-left: 11px;
	background-image: url(../assets/bullet.png);
	background-repeat: no-repeat;
	background-position: left center;
}
#lownav li a:hover,
#lownav li a:active {
	text-shadow: 0px 1px 0px #333333;
	filter: dropshadow(color=#333333, offx=0, offy=1);
	color: #FFFFFF;
}
#footer .legal {
	font-size: 11px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-left: 200px;
	margin-top: 20px;
	float: left;
}
#footer .legal a:link, #footer .legal a:visited {
	text-decoration: none;
	color: #333333;
}
#footer .legal a:hover, #footer .legal a:active {
	text-decoration: underline;
}
#footer #social {
	font-size: 11px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	float: right;
	margin-right: 240px;
	margin-top: 10px;
}
#footer #social p {
	float: left;
}
#footer #social ul {
	margin: 0px;
	padding: 0px;
	float: left;
}
#footer #social ul li {
	float: left;
	list-style-type: none;
}
#footer #social ul li a {
	background-image: url(../assets/social.png);
	background-repeat: no-repeat;
	text-indent: -10000em;
	display: block;
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-top: 5px;
}
#footer #social ul li a.twitter {
	background-position: 0px 0px;
}
#footer #social ul li a.twitter:hover {
	background-position: -30px 0px;
}
#footer #social ul li a.facebook {
	background-position: 0px -30px;
}
#footer #social ul li a.facebook:hover {
	background-position: -30px -30px;
}

.box1 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
	
	padding: 20px 10px;
	border: 1px solid #FFF;
	margin-right: 20px;
}

.box2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	border: 1px solid #DDDDDD;
}

.clear {
	clear: both;
}

.centered-text { text-align: center }
.centered {
	margin-left: auto;
	margin-right: auto;
}
/* Forms */
#acceso {
	width: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #EBEBEB;
	padding: 30px 20px 0px 20px;
	border: 1px solid #DDDDDD;
	-webkit-box-shadow: 0px 1px 0px 0px #666666;
	-moz-box-shadow: 0px 1px 0px 0px #666666;
	box-shadow: 0px 1px 0px 0px #666666;
}
#acceso input {
	padding: 5px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
#acceso input:hover,
#acceso input:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
#acceso label {
	margin-left: 10px;
	color: #666666;
	font-size: 12px;
}

#acceso .submit input {
	width: 100%;
	padding: 9px 0;
	background: #850d11;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 50%;
}
#acceso .submit input:hover {
	background-color: #6A0B0D;
}
#content a:link, #content a:visted {
 color: #850d11;
 text-decoration: none;
 font-size: 12px;
}
#content a:hover,
#content a:active {
	text-decoration: underline;
}
#content a.boton1 {
	background-image: linear-gradient(bottom, rgb(74,5,6) 0%, rgb(133,13,17) 100%);
	background-image: -o-linear-gradient(bottom, rgb(74,5,6) 0%, rgb(133,13,17) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(74,5,6) 0%, rgb(133,13,17) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(74,5,6) 0%, rgb(133,13,17) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(74,5,6) 0%, rgb(133,13,17) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(74,5,6)),  color-stop(1, rgb(133,13,17)) );
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	width: 150px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	-webkit-box-shadow: 0px 1px 0px 0px #666666;
	-moz-box-shadow: 0px 1px 0px 0px #666666;
	box-shadow: 0px 1px 0px 0px #666666;
}
#content a.boton1:hover {
	text-decoration: none;
	background-image: linear-gradient(bottom, rgb(46,2,3) 0%, rgb(107,8,12) 100%);
	background-image: -o-linear-gradient(bottom, rgb(46,2,3) 0%, rgb(107,8,12) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(46,2,3) 0%, rgb(107,8,12) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(46,2,3) 0%, rgb(107,8,12) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(46,2,3) 0%, rgb(107,8,12) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(46,2,3)),  color-stop(1, rgb(107,8,12)) );
}
#content a.boton2 {
	background-image: linear-gradient(bottom, rgb(51,51,51) 0%, rgb(194,194,194) 100%);
	background-image: -o-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(194,194,194) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(194,194,194) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(194,194,194) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(194,194,194) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(51,51,51)),  color-stop(1, rgb(194,194,194)) );
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	width: 150px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	-webkit-box-shadow: 0px 1px 0px 0px #666666;
	-moz-box-shadow: 0px 1px 0px 0px #666666;
	box-shadow: 0px 1px 0px 0px #666666;
}
#content a.boton2:hover {
	text-decoration: none;
	background-image: linear-gradient(bottom, rgb(31,31,31) 0%, rgb(166,166,166) 100%);
	background-image: -o-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(166,166,166) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(166,166,166) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(166,166,166) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(166,166,166) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(31,31,31)),  color-stop(1, rgb(166,166,166)) );
}
#content a.boton3 {
	background-image: linear-gradient(bottom, rgb(168,168,168) 0%, rgb(230,230,230) 100%);
	background-image: -o-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(230,230,230) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(230,230,230) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(230,230,230) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(230,230,230) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(168,168,168)),  color-stop(1, rgb(230,230,230)) );
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	width: 150px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
	-webkit-box-shadow: 0px 1px 0px 0px #666666;
	-moz-box-shadow: 0px 1px 0px 0px #666666;
	box-shadow: 0px 1px 0px 0px #666666;
}
#content a.boton3:hover {
	text-decoration: none;
	background-image: linear-gradient(bottom, rgb(140,140,140) 0%, rgb(207,207,207) 100%);
	background-image: -o-linear-gradient(bottom, rgb(140,140,140) 0%, rgb(207,207,207) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(140,140,140) 0%, rgb(207,207,207) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(140,140,140) 0%, rgb(207,207,207) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(140,140,140) 0%, rgb(207,207,207) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(140,140,140)),  color-stop(1, rgb(207,207,207)) );
}

.producto {
	display: inline-block;
	width: 410px;
	text-align: center;
	vertical-align: top;
	height: 270px;
}

.producto p {
	font-size: 14px;
}

.proximamente {
	margin-top: 60px;
	color: #CB2723;
	font-size: 30px !important;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

#content a.boton4 {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	color: #ffffff;
	padding: 8px 30px;
	background: -moz-linear-gradient(
		top,
		#f20000 0%,
		#8a1616);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f20000),
		to(#8a1616));
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border: 0px solid #ffffff;
	-moz-box-shadow:
		5px 5px 20px rgba(000,000,000,0.6),
		inset 0px 0px 1px rgba(255,000,000,1);
	-webkit-box-shadow:
		5px 5px 20px rgba(000,000,000,0.6),
		inset 0px 0px 1px rgba(255,000,000,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.3);
}

#content a.boton4:hover {
	font-size: 19px;
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#ff5c5c 0%,
		#b53535);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff5c5c),
		to(#b53535));
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border: 0px solid #ffffff;
	-moz-box-shadow:
		5px 5px 20px rgba(000,000,000,0.6),
		inset 0px 0px 1px rgba(255,000,000,1);
	-webkit-box-shadow:
		5px 5px 20px rgba(000,000,000,0.6),
		inset 0px 0px 1px rgba(255,000,000,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.3);	
}

.jobs-board {
	padding: 20px;
	font-size: 14px;
	border: 1px solid #89B8FF;
}

.producto {
	height: 300px;
}